<div class="modal-header"  >
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <h2>Create new room:</h2>
                <input type="text" ng-model="text" name="room"/>
                <input type="submit" value="Submit"/>
        
            </form>
             
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="newroom.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="newroom.cancel()">Cancel</button>
        </div>


</div>